{% assign col_class = include.col | default: "col-lg-3" %}
<div class="speaker-block {{ col_class }} col-md-6 col-sm-12 wow fadeInUp">
    <div class="inner-box">
        <div class="image-box">
            <figure class="image">
                <a href="/{{ include.year }}/speakers/{{ include.speaker.url }}">
                    <img src="{{ include.speaker.image }}" alt="{{ include.speaker.name }}"/>
                </a>
            </figure>
        </div>
        <div class="info-box">
            <div class="inner">
                <h4 class="name">
                    <a href="/{{ include.year }}/speakers/{{ include.speaker.url }}">{{ include.speaker.name }}</a>
                </h4>
                <span class="designation">{{ include.designation }}</span>
                <ul class="social-links social-icon-colored">
                    {% if include.speaker.twitter and include.speaker.twitter != "" %}
                        <li>
                            <a href="{{ include.speaker.twitter }}"><i class="fa-brands fa-x-twitter"></i></a>
                        </li>
                    {% endif %}
                    {% if include.speaker.linkedin and include.speaker.linkedin != "" %}
                        <li>
                            <a href="{{ include.speaker.linkedin }}"><i class="fab fa-linkedin"></i></a>
                        </li>
                    {% endif %}
                    {% if include.speaker.website and include.speaker.website != "" %}
                        <li>
                            <a href="{{ include.speaker.website }}"><i class="fab fa-sistrix"></i></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
