<!-- _includes/sponsor_section.liquid -->
<section class="clients-section">
    <div class="anim-icons">
        <span class="icon icon-dots-3 wow zoomIn"></span>
    </div>
    <div class="auto-container">
        <div class="sec-title" style="text-align: center">
            <h2 style="color: #c11803">{{ include.title }}</h2>
            <hr/>
            <span class="title">
        {{ include.description }}
      </span>
        </div>

        <div class="sponsors-outer">
            <div class="row justify-content-center">
                {% for sponsor in site.data.new_remote.sponsors %}
                    {% if sponsor.categories contains include.category %}
                        <div class="client-block col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
                            <figure>
                                <a href="{{ sponsor.url }}" target="_blank">
                                    <img src="{{ sponsor.image }}" class="lazyload" alt="{{ sponsor.name }}"/>
                                </a>
                            </figure>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
